* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.hero {
    background-image: url(Path15.png);
    background-repeat: no-repeat;
    background-position: top center;
    height: 90%;
    margin-top: -10%;
}

.text {
    font-family: 'Assistant';
    direction: rtl;
    text-align: center;
}

.text h1 {
    color: #D3E10E;
    font-size: 86px;
}

.text p {
    color: #F9F9F9;
    font-size: 20px;
    padding: 20px;
}

.container {
    color: aliceblue;
    direction: rtl;
    display: flex;
    justify-content: center;
    margin-top: 50vh;
}

.container label {
    color: #011560;
}

.container input {
    width: 418px;
    height: 50px;
}

.container button {
    width: 166px;
    height: 50px;
    font-size: 22px;
    background-color: #D3E10E;
    color: #011560;
}

@media(max-width: 576px) {}