* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
}

.container {
    background-color: black;
    position: sticky;
    top: 0;
}

nav {
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    font-size: 1.7rem;
    color: bisque;
    text-decoration: none;
}

nav ul li:hover a {
    color: aliceblue;
}

#header2 {
    height: 460px;
    background-image: url(beige3.jpg);
    text-align: center;
    padding-top: 100px;
}

#header2 h1 {
    font-size: 3.5rem;
    direction: rtl;
}

#header2 p {
    margin-top: 20px;
    direction: rtl;
    font-size: 1.2rem;
}

#mySelf {
    text-align: center;
    margin-top: 30px;
}

#mySelf img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 10px 10px 20px #000;
}

#mySelf h1 {
    direction: rtl;
    margin-top: 10px;
}

#mySelf p {
    direction: rtl;
    font-family: arial;
    margin-top: 20px;
    font-size: 1.2rem;
}

.buttonMySelf {
    background-color: black;
    color: bisque;
    font-size: 1.5rem;
    padding: 7px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid bisque;
    cursor: pointer;
}

.buttonMySelf:hover {
    color: black;
    background-color: bisque;
    border: 1px solid #000;
}

#projects {
    height: 1500px;
    background-image: url(beige3.jpg);
    margin-top: 100px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.boxProject {
    width: 400px;
    height: 600px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 10px 10px 20px #000;
}

.boxProject img {
    width: 400px;
    height: 400px;
}

.boxProject h1 {
    text-align: center;
    padding: 15px;
}

.boxProject a {
    direction: rtl;
    background-color: black;
    color: bisque;
    font-size: 1.5rem;
    padding: 7px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    border: 1px solid bisque;
    cursor: pointer;
    text-decoration: none;
}

.divA {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxProject a:hover {
    color: black;
    background-color: bisque;
    border: 1px solid #000;
}

#contact {
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contact a {
    font-size: 100px;
    text-decoration: none;
}

#contact a svg {
    fill: white;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}

.createdBy {
    height: 50px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 20px;
}

@media(max-width:576px) {
    #header2 p {
        font-size: 1.1rem;
    }

    #projects {
        height: 800px;
    }

    .boxProject {
        width: 150px;
        height: 300px;
        margin: 0 auto;
        background-color: white;
        box-shadow: 10px 10px 20px black;
    }

    .boxProject img {
        width: 150px;
        height: 150px;
    }

    .boxProject button {
        text-align: center;
        font-size: 1rem;
    }
}